*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: none;
}

/* shared style  */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}
.btn{
    background-color: #FD6E0A;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}

.section-heading h2{
    font-size: 45px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #181818;
    margin-bottom: 35px;
}

.color-orange{
    color: #FD6E0A;
    font-weight: 900;
}

/* main css */

body{
    /* font-family: "Open Sans", sans-serif; */
}
header{
    max-width: 1707px;
    margin: 0 auto;
    padding-top: 50px;
    background: url(images/developer.png), url(images/header_bg.png), #FFF8F3;  
    background-repeat: no-repeat;
    background-position: 36px 23px , bottom right;
}
nav{
    width: 71%;
    max-width: 1140;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .manu li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner{
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;

}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #747474;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 80px;
    font-weight: bold;
    color: #181818;
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #181818;
    margin-bottom: 35px;
}
#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
}


/* ===about section======= */
#about{
    padding-top: 130px;
}
#about .container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-info{
    display: flex;
    justify-content: space-around;
}

/* skill section */
#skill {
    margin-top: 130px;
}
#skill .skill-box{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    gap: 24px;
}
#skill .skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.089);
}
#skill .skill-card img{
    width: 44px;
    height: 44;
    margin-bottom: 30px;
}
#skill .skill-card h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
#skill .skill-card p{
    width: 201px;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}

/* resume section */
#resume{
    margin: 130px;
}
.resume-container{
    max-width: 1140px;
    margin: 113px auto 0;
    color: #474747;
    display: flex;
    gap: 24px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}


.education h2, .experience h2{
    font-size: 30px;
}
.education h3, .experience h3{
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.education p, .experience p{
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0 30px;
}
#resume  .btn-container{
    /* border: 1px solid red;
    width: 100%;
    margin: 0 auto; */
    text-align: center;
    
}
#resume .btn{
    display: block;
    margin: 50px  auto 131px; 
}

/* footer section */
footer{
    background-color: #FFF8F3;
}
.footer-container{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    padding: 130px 0 130px;
    gap: 117px;
}
footer h2{
    font-size: 35px;
}
footer p{
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0 30px;
    max-width: 562px;
}
footer .icon a{
    width: 24px;
    height: 24px;
    margin-right: 24px;
}
footer input[type="text"] {
    width: 461px;
    font-size: 16px;
    line-height: 28px;
    padding: 18px 31px;
    margin: 36px 0 16px;
    border: none;
    border-radius: 5px;
}
footer input[type="email"] {
    width: 461px;
    font-size: 16px;
    line-height: 28px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border-radius: 5px;
}
footer textarea{
    width: 461px;
    padding: 18px 31px;
    font-size: 16px;
    line-height: 28px;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
}